.back {
    /* background-color: bisque; */
    /* background-image: url("./生活照.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 2%;
    padding: 5%; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./生活照.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.5; /* 控制透明度 */
    z-index: -1; /* 放到最底层 */
}
.content {
    position: relative;
    z-index: 1;
    padding: 50px;
  }

#learning{
    width: 90%;
    max-width: 700px;
}

#长图{
    float: left;
    width: 40%;
    padding: 5px;
}

#横图加州{
    float: left;
    width: 55%;
    padding: 5px;

}



#横图滑雪{
    float: left;
    width: 55%;
    padding: 5px;

}

/* horizontal_bar */

#horizontal_bar{
    float: left;
    list-style-type: none;
    background-color: rgb(45, 41, 37);
    width: 70%;
    border-radius: 10%;
}

#horizontal_bar li{
    margin: 20px;
}

#all{
    float: left;
    border-radius: 20%;
    margin-bottom: 15px;
}

.other{
    float: left;
    margin-left: 5px;
    background-color: lightgray;
    border-radius: 20%;
    margin-bottom: 15px;
}

#school{
    clear: both;
}

#below {
    clear:both;
}